*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#right-wheel{
    animation: wheel 1s ease;
    
}

@keyframes wheel {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

   